header{
    font-family: "Noto Sans SC", sans-serif;
    font-size: 36px;
    margin: 0 auto; 
    display: block;
    text-align: center;
    width: 550px;
    height: 100px;
    background-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(82, 173, 252);
    border-radius: 10px;
}
h1#author{
    color: rgb(0, 136, 255);
    margin: 0px;
    height: 100px;
}
div#label{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(82, 173, 252);
    border-radius: 10px;
    padding: 10px 10px 10px 50px;
}
table {
    border-spacing: 30px 0px;
}
td{
    padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(138, 200, 255);
    border-radius: 10px;
}
body {
    color: rgb(0, 79, 158);
    font-family: "Noto Sans SC", sans-serif;
    background-image: url('image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
main{
    background-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(82, 173, 252);
    border-radius: 10px;
    margin: 100px 10px 100px 10px;
}
h1#title{
    font-size: 40px;
    margin: 50px 0px 50px 0px; 
    display: block;
    text-align: center;
}
article{
    font-size: 24px;
    padding: 0px 50px 0px 50px;
    line-height: 40px;
    letter-spacing: 2px;
}
ol{
    padding-left: 50px;
}
li.index{
    padding: 10px 0px 10px 10px;
}
footer{
    font-family: "Noto Sans SC", sans-serif;
    margin: 100px 10px 100px 10px;
    width: 270px;
    background-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(82, 173, 252);
    border-radius: 10px;
    padding: 10px 10px 10px 50px;
}
a:link{
    color: rgb(0, 136, 255);
    text-decoration: none;
}
a:visited{
    color: rgb(0, 136, 255);
    text-decoration: none;
}
a.backtohome{
    position: absolute;
    top: 320px;
    left: 20px;
    padding: 5px 15px 5px 15px;
    background-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(82, 173, 252);
    border-radius: 5px;
}
pre{
    background-color: rgb(227, 242, 255);
    border-width: 4px;
    border-style: solid;
    border-color: rgb(131, 197, 255);
    border-radius: 5px;
}
img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    background: rgb(123, 194, 255);
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    /* border-radius: 0; */
    background: aliceblue;
}