header{
    font-family: "Noto Sans SC", sans-serif;
    font-size: 36px;
    margin: 0 auto; 
    display: block;
    text-align: center;
    width: 550px;
    height: 100px;
    background-color: aliceblue;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(138, 200, 255);
    border-radius: 10px;
}
h1#author{
    color: rgb(0, 136, 255);
    margin: 0px;
    height: 100px;
}
body {
    font-family: "Noto Sans SC", sans-serif;
    background-image: url('image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
main{
    background-color: aliceblue;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(73, 170, 255);
    border-radius: 10px;
    margin: 100px 10px 100px 10px;
}
h1#title{
    font-size: 40px;
    margin: 50px 0px 50px 0px; 
    display: block;
    text-align: center;
}
article{
    font-size: 20px;
    padding: 0px 0px 0px 10px;
}
ol{
    padding-left: 50px;
}
li.index{
    padding: 10px 0px 10px 10px;
}
footer{
    font-family: "Noto Sans SC", sans-serif;
    margin: 100px 10px 100px 10px;
    width: 270px;
    background-color: aliceblue;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(138, 200, 255);
    border-radius: 10px;
    padding: 10px 10px 10px 50px;
}
a:link{
    color: rgb(0, 136, 255);
    text-decoration: none;
}
a:visited{
    color: rgb(0, 136, 255);
    text-decoration: none;
}