header{
    font-family: "Noto Sans SC", sans-serif;
    font-size: 36px;
    margin: 0 auto; 
    display: block;
    text-align: center;
    width: 550px;
    height: 100px;
    background-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(138, 200, 255);
    border-radius: 10px;
}
h1#author{
    color: rgb(0, 136, 255);
    margin: 0px;
    height: 100px;
}
table{
    border-collapse: separate;
    border-spacing: 0px 30px;

}
td{
    border: 1px solid transparent;
    width: 160px;
}
div#label{
    margin-top: 50px;
    background-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(138, 200, 255);
    border-radius: 10px;
    padding: 20px;
    height: auto;
}
label{
    padding: 5px 10px;
    margin-right: 0px;
    color: rgb(0, 136, 255);
}
h2#labeltext{
    position: relative;
    top: -10px;
    left: 0px;
}
.checkbox-input{
    display: none;
}
.checkbox-input:not(:checked) + label {
    border: 2px solid rgb(150, 204, 251);
    border-radius: 4px;
}
.checkbox-input:checked + label {
    border: 2px solid rgb(27, 149, 255);
    border-radius: 4px;
}
body {
    font-family: "Noto Sans SC", sans-serif;
    background-image: url('image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
div#index{
    width: 400px;
    position: relative;
    top: -700px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(138, 201, 255);
    border-radius: 10px;
    margin: 100px 10px 100px 10px;
    background-color: aliceblue;
}
div#intro{
    position: relative;
    left: 600px;
    width: 800px;
    height: 600px;
    padding: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(138, 201, 255);
    border-radius: 10px;
    margin: 100px 10px 100px 10px;
    background-color: aliceblue;
    overflow-y: auto;
}
h2.index{
    padding: 10px 0px 0px 30px;
}
ol{
    padding-left: 50px;
    list-style-type: none;
}
li.index{
    padding: 10px 0px 10px 10px;
}
iframe#preview{
    position: fixed;
    top: 10px;
    left: 500px;
    width: 1080px;
    height: 700px;
    display: none;
    border-radius: 10px;
}
button{
    width: 100px;
    height: 40px;
    display: none;
    position: fixed;
    top: 720px;
    left: 960px;
    background-color: aliceblue;
    color: grey;
    font-size: 20px;
    border-radius: 5px;
}

footer{
    position: relative;
    top: -600px;
    font-family: "Noto Sans SC", sans-serif;
    margin: 100px 10px 100px 10px;
    width: 270px;
    background-color: aliceblue;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(138, 200, 255);
    border-radius: 10px;
    padding: 10px 10px 10px 50px;
}
a:link{
    color: rgb(0, 136, 255);
    text-decoration: none;
}
a:visited{
    color: rgb(0, 136, 255);
    text-decoration: none;
}